 @model dynamic

 @{
   string rpta="";
 }
  <br>

  <br>

  <br>

  <br>

  <br>

  <br>

  <div class="container"  style="text-align: center;">
    <div class="row">
      <div class="col-lg-6">
        <h2 style="color: black;">Enrutamiento</h2>
    <table class="table" >
      <thead>
        <tr style="background-color: #6fab2c;">
          <th style="color: white;" scope="col">Courier</th>
          <th style="color: white;" scope="col">Zona</th>
          <th style="color: white;" scope="col">Motivo</th>
      </thead>
      <tbody>
          <tr>
            <th scope="row">Rapidos S.A.C.</th>
            <td>A</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Los Chaskis</th>
            <td>A</td>
            <td><ul><li>80% Pedidos realizados en ZONA A</li><li>Pedidos EXPRESS realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Salvador</th>
            <td>B</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Entrega Total</th>
            <td>C</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Delivery Pro</th>
            <td>D</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">EnvíoDirecto</th>
            <td>D</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
      </tbody>
    </table>
      </div>
      <div class="col-lg-6">
        <h2 style="color: black;">Enrutamiento</h2>
    <table class="table" >
      <thead>
        <tr style="background-color: #6fab2c;">
          <th style="color: white;" scope="col">Courier</th>
          <th style="color: white;" scope="col">Zona</th>
          <th style="color: white;" scope="col">Motivo</th>
      </thead>
      <tbody>
          <tr>
            <th scope="row">Rapidos S.A.C.</th>
            <td>A</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Los Chaskis</th>
            <td>A</td>
            <td><ul><li>80% Pedidos realizados en ZONA A</li><li>Pedidos EXPRESS realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Salvador</th>
            <td>B</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Entrega Total</th>
            <td>C</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Delivery Pro</th>
            <td>D</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
          <tr>
            <th scope="row">EnvíoDirecto</th>
            <td>D</td>
            <td><ul><li>50% Pedidos realizados en ZONA A</li><li>Pedidos FRAGIL realizados con estado PUNTUAL</li><li>Zona A tendrá 40% pedidos FRAGIL</li></ul></td>
          </tr>
      </tbody>
    </table>
      </div>
    </div>
    <div class="row">
      <div style="text-align: center;">
        <button class="get-started-btn scrollto" style="border-radius: 50px;margin:20px; background-color: #6fab2c;" type="submit">Generar Enrutamiento</button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
