@{
}
 <section id="services" class="services section-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
          <div class="card">
            <div class="card-img">
              <img src="~/img/pendientes.png" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-controller="Formulario" asp-action="Index" >Insertar Envio</a></h5>
              <p class="card-text center"> Inserta los envios de manera manual</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="~/img/reportes.png" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-area="" asp-controller="Listado" asp-action="Reportes">Listado de Envíos</a></h5>
              <p class="card-text center" >Visualiza todos los envíos existentes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-left"></div>
        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="~/img/reportes.png" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-area="" asp-controller="Listado" asp-action="Reportes">Reportes</a></h5>
              <p class="card-text center" >Visualiza todos los reportes predichos según los datos recopilados</p>
            </div>
          </div>
        </div>
      <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-left"></div>
  </div>
  </section>